<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="span-6 offset-5">

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <h1 class="form-title">Sign Up</h1>

      <%= devise_error_messages! %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, 'Confirm' %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Sign up", class: 'btn btn-blue submit-validate' %>
    <% end %>

    <span class="form-suggestion">
      Already have an account? <%= link_to raw("Log in! &raquo;"), login_path %>
    </span>

  </div>
</div>
