<%= form_for @user do |f| %>
  <h1 class="form-title"><%= raw title %></h1>

  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <h3>Oh no!  You need to fix the following to sign up:</h3>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :username %>:
  <%= f.text_field :username %>

  <%= f.label :email %>:
  <%= f.text_field :email %>

  <%= f.label :password %>:
  <%= f.password_field :password, size: 40 %>

  <%= f.label :password_confirmation, 'Confirm' %>:
  <%= f.password_field :password_confirmation, size: 40 %>

  <%= f.submit btn, class: 'btn btn-blue' %>
<% end %>
