<header>
  <div class="container">
    <% if user_signed_in? %>
      <ul>
        <li><%= link_to "Dashboard", dashboard_path,    class: (current_page? dashboard_path) ? 'current' : '' %></li>
        <li><%= link_to "My Trades", offers_path,       class: (current_page? offers_path)    ? 'current' : '' %></li>
        <li><%= link_to "Post a Trade", new_offer_path, class: (current_page? new_offer_path) ? 'current' : '' %></li>
        <li><%= link_to "Browse Trades", offers_path,   class: (current_page? offers_path)    ? 'current' : '' %></li>
      </ul>
    <% end %>

    <span class="user-links">
      <% if user_signed_in? %>
        Signed in as <%= current_user.username %>. &nbsp;&nbsp;<%= link_to "Not you?", logout_path %>
      <% else %>
        <%= link_to_unless_current "Sign up", signup_path %>
        <span class="link-separator">|</span>
        <%= link_to "Log in", login_path %>
      <% end %>
    </span>

  </div>
</header>
