<div class="span-4 bid-box">
  <div class="bid-details">
    <% if bid == accepted_bid %>
      <div class="bid-accepted">This bid has been accepted</div>
    <% end %>

    <% if bid.image.present? %>
      <%= image_tag bid.image.url(:thumb) %>
    <% end %>

    <p><%= bid.description %></p>
  </div>

  <div class="offer-notifications">
    <p>From <span class="username"><%= bid.user.username %></span></p>
    <%= render :partial => "karma", :locals => { :user => bid.user } %>

    <%# TODO: ACCESS CONTROLS %>
    <% if accepted_bid.blank? && current_user == @offer.user %>
      <%= link_to 'Accept', offer_accept_path(offer_id: @offer, bid_id: bid), method: :post, class: 'btn btn-green btn-full' %>
    <% end %>
  </div>
</div>
