<%# A partial representing a bid on an offer %>

<div class="span-4 bid-box">
  <div class="bid-details">

    <%# TODO: Not a fan of all the state checks here %>
    <% if bid.locked? %>
      <p class="bid-status" style="color: red;">Locked</p>
    <% end %>

    <% if bid == accepted_bid && completed_bid.blank? %>
      <div class="bid-status bid-accepted">This bid has been accepted</div>
    <% end %>

    <% if bid == completed_bid %>
      <div class="bid-status bid-completed">This bid has been completed</div>
    <% end %>

    <%= image_tag bid.image.url(:thumb) if bid.image.present? %>

    <p class="bold"><%= bid.title %></p>
    <p><%= bid.description %></p>

    <% if bid == accepted_bid %>
      <%= link_to raw("Send a message to #{@user_to_rate.username} &raquo;"),  message_path(@user_to_rate.id), class: 'contact'  %>

      <%= link_to 'Complete Trade', offer_complete_path(offer_id: @offer.id, bid_id: accepted_bid.id),
            method: :post, class: 'btn btn-blue btn-full' %>
    <% end %>

    <%= @selected_bid.inspect %>
    <%= render 'rating' if bid == @selected_bid %>

  </div><!-- .bid-details -->

  <div class="offer-notifications">
    <p>From
      <span class="username <%= current_user == bid.user ? 'username-blue' : '' %>">
        <%= link_to bid.user.username, bid.user %>
      </span>
    </p>
    <%= render :partial => "users/karma", :locals => { :user => bid.user, :byline => false } %>

    <% if current_user.owns_offer?(@offer) && [accepted_bid, completed_bid].none? %>
      <%= link_to 'Accept', offer_accept_path(offer_id: @offer, bid_id: bid), method: :post, class: 'btn btn-green btn-full' %>
      <% end %>
  </div>
</div>




