<%# A partial representing a bid on an offer %>

<div class="span-4 bid-box">
  <div class="bid-details">

    <%# TODO: Not a fan of all the state checks here %>
    <% if bid == accepted_bid && completed_bid.blank? %>
      <div class="bid-accepted">This bid has been accepted</div>
    <% end %>

    <% if bid == completed_bid %>
      <div class="bid-completed">This bid has been completed</div>
    <% end %>

    <% if bid.image.present? %>
      <%= image_tag bid.image.url(:thumb) %>
    <% end %>

    <p><%= bid.description %></p>

    <% if bid == accepted_bid && current_user.owns_offer?(@offer) %>
      <%= link_to 'Complete Trade', offer_complete_path(offer_id: @offer.id, bid_id: accepted_bid.id),
            method: :post, class: 'btn btn-blue btn-full' %>
    <% end %>


    <%# TODO: extract into partial  %>
    <% if @offer.completed? %>
      <div class="feedback-container">
        <% if @offer.completed_response.rated %>
          <p>Completed and rated</p>
        <% else %>
          <p style="font-weight: bold;">
            Leave a rating for
            <%= (current_user == @offer.completed_bid.user) ? @offer.user.username : completed_bid.user.username %>:
          </p>

          <%= link_to "+", offer_rate_path(@offer, completed_bid, rate: 'up'), method: :post,   class: "btn btn-green vote" %>
          <%= link_to "-", offer_rate_path(@offer, completed_bid, rate: 'down'), method: :post, class: "btn btn-red vote" %>
        <% end %>
      </div>
    <% end %>

  </div><!-- .bid-details -->


  <div class="offer-notifications">
    <p>From <span class="username"><%= bid.user.username %></span></p>
    <%= render :partial => "karma", :locals => { :user => bid.user } %>

    <% if current_user.owns_offer?(@offer) && [accepted_bid, completed_bid].none? %>
      <%= link_to 'Accept', offer_accept_path(offer_id: @offer, bid_id: bid), method: :post, class: 'btn btn-green btn-full' %>
    <% end %>
  </div>
</div>
