<%
# This form is used both to create new "original" offers
# and to create responses to them.
form_options = { :html => { :multipart => true } }
if @parent_offer
  form_options[:url] = bid_on_offer_path(@parent_offer)
  submit_button_text = "Bid this!"
end
%>

<%= form_for(@offer, form_options) do |f| %>
  <h1><%= raw title %></h1>

  <% if @offer.errors.any? %>
    <div class="alert alert-error">
      <h3><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h3>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :image %>
  <%= f.file_field :image, :accept => 'image/png,image/gif,image/jpeg' %>

  <%= f.label :tag_list %>
  <%= f.autocomplete_field :tag_list, autocomplete_tag_name_offers_path, :"data-delimiter" => ', ' %>

  <% if @parent_offer %>
    <p>Or bid one of your existing items:</p>
    <%= select_tag :reused_offer_id, options_from_collection_for_select(@reusable_offers, "id", "title"), :prompt => "Choose..." %>

  <% end %>

  <%= f.submit submit_button_text, class: 'btn btn-blue' %>
<% end %>
