<div class="page-section">
  <div class="row">
    <div class="span-10 offset-3">
      <%= link_to "Post an offer", new_offer_path, class: "btn btn-blue btn-large left" %>
      <%= link_to "Browse open offers", offers_path, class: "btn btn-blue btn-large right" %>
    </div>
  </div>
</div>



<div class="page-section">

   <div class="user-notifications">
    <div class="split-left">
      <h3>Your Offers</h3>
      <span class="notif-num blue">2</span> new bids on <%= link_to current_user.offers.first.title, current_user.offers.first, class: 'notif-link' %>
    </div>

    <div class="split-right">
      <h3>Your Bids</h3>
      <!-- <span class="notif-num green">1</span> message from <%#= link_to User.last.username, User.last, class: 'notif-link' %> -->
      <span class="">Your bid on <%= link_to Offer.last.title, Offer.last, style: 'font-style: italic' %> has been accepted!</span>
    </div>
  </div><!-- .user-notifications -->


  <div class="offer-masonry">
    <% [].each do |offer| %>
      <div class="offer-box">
        <div class="offer-details">
          <p class="offer-title"><%= offer.title %></p>
          <img src="http://placehold.it/350x175">
        </div>

        <div class="offer-notifications">
          <p>New message from <span class="username">user99</span></p>
          <%= link_to raw("View offer &raquo;"), offer %>
        </div>
      </div>
    <% end %>
  </div>

</div><!-- .page-section -->



<div class="page-section">
  <h1 class="section-title">Recently posted for: Santa Barbara</h1>

  <div class="offer-masonry">
    <% @recent_offers.each do |offer| %>
      <div class="offer-box">
        <div class="offer-details">
          <p class="offer-title"><%= offer.title %></p>
          <img src="http://placehold.it/350x175">
        </div>

        <div class="offer-notifications">
          <p><%= offer.description %></p>
          <%= link_to raw("More info &raquo;"), offer %>
        </div>
      </div>
    <% end %>
  </div>

</div><!-- .page-section -->

