<% provide(:title, 'Offers') %>

<h1>Listing offers</h1>

<%= link_to 'Start a new trade', new_offer_path, class: 'btn btn-green action-btn' %>

<div>
  <%= form_for offers_path,:method => "get" do %>
    <%= autocomplete_field_tag :q, params['q'], autocomplete_tag_name_offers_path, :"data-delimiter" => ' ' %>
    <%= submit_tag "Search", :name => nil, :class => 'btn btn-blue action-btn' %>
  <% end %>
</div>

<div id="offers_list">
  <% @offers.each do |offer| %>
    <%= render 'offer_summary', offer: offer %>
  <% end %>
</div>

<%= paginate @offers %>

