<%# TODO: WHAT TO TITLE THIS PAGE? %>

<%= content_tag :div, flash[:success], class: 'alert alert-success' if flash[:success] %>

<%
# This is an exercise in terrible code. I promise it's temporary.
# Please don't follow my example :(
%>

<h1>Offer: <%= @offer.title %></h1>

<%= render @offer %>

<p style="font-size: 1.1em; font-weight: bold; margin: 20px 0 5px;">Bids for this offer:</p>
<ul style="padding-left: 20px;">
  <% @offer.bids.each do |bid| %>
    <%= render :partial => 'bid', :locals => { :bid => bid } %>
  <% end %>
</ul>

<div style="margin: 20px 0;">
  <%= link_to 'Make a bid', bid_on_offer_path(@offer), class: 'btn btn-blue' %>
</div>

<span style="font-size: 1.1em">
  <%= link_to 'Edit', edit_offer_path(@offer) %> |
  <%= link_to 'Back', offers_path %>
</span>
