<% provide(:title, "Offer: #{@offer.title}") %>

<%= flash_success %>

<% if current_user.can_bid_on?(@offer) %>
  <%= link_to 'Make a bid', bid_on_offer_path(@offer), class: 'btn btn-blue btn-large', style: "display: inline-block; margin-bottom: 20px;" %>
<% end %>

<div class="row parent-container">
  <div class="span-6">
      <img src="http://placehold.it/350x250" style="max-width: 100%">
  </div>

  <div class="span-10">
    <h2><%= @offer.title %> <span style="color:red;">- <%= @offer.user.username %></span> </h2>
    <p><%= @offer.description %></p>
  </div>
</div>

<div class="row bids-container">
  <% @offer.bids.each do |bid| %>
     <%= render 'bid', bid: bid, accepted_bid: @offer.accepted_bid, completed_bid: @offer.completed_bid %>
  <% end %>
</div>
