<% provide(:title, "Offer: #{@offer.title}") %>

<%= flash_success %>

<% if current_user.can_bid_on?(@offer) %>
  <%= link_to 'Make a bid', bid_on_offer_path(@offer), class: 'btn btn-blue btn-large bid-btn' %>
<% end %>

<div class="page-section parent-container">
  <div class="row">

    <div class="span-6">
      <img src="http://placehold.it/350x250" style="max-width: 100%">
    </div>

    <div class="span-10">
      <h2><%= @offer.title %></h2>
      <%= render 'users/karma', user: @offer.user, byline: true %>
      <p><%= @offer.description %></p>
    </div>

  </div>
</div>


<% if @offer.bids.blank? %>
  <h2>There are currently no bids on this offer. <%= link_to "Be the first!", bid_on_offer_path(@offer) %></h2>
<% else %>
  <div class="page-section">
    <div class="bid-masonry">
      <% @offer.bids.each do |bid| %>
         <%= render 'bid', bid: bid, accepted_bid: @offer.accepted_bid, completed_bid: @offer.completed_bid %>
      <% end %>
    </div>
  </div>
<% end %>
