<%# TODO: WHAT TO TITLE THIS PAGE? %>

<%= content_tag :div, flash[:success], class: 'alert alert-success' if flash[:success] %>

<%
# This is an exercise in terrible code. I promise it's temporary.
# Please don't follow my example :(
%>


<h1>Offer</h1>
<div id="offers_list">
  <div class="offer">
    <%= render @offer %>
  </div>
</div>

<h1>Bids</h1>
<div id="offers_list">
  <% @offer.bids.each do |bid| %>
    <div class="offer">
      <%= render :partial => 'bid', :locals => { :bid => bid, :accepted_bid => @offer.accepted_bid, :completed_bid => @offer.completed_bid } %>
    </div>
  <% end %>
</div>

<div style="margin: 20px 0;">
  <%= link_to 'Make a bid', bid_on_offer_path(@offer), class: 'btn btn-blue' %>
</div>

<span style="font-size: 1.1em">
  <%= link_to 'Edit', edit_offer_path(@offer) %> |
  <%= link_to 'Back', offers_path %>
</span>
